.nav-daftarpemyedia{
   background-image: linear-gradient(to top,rgba(248, 33, 62, 0.938),rgba(211, 81, 6, 0.685));
   color: white;
}
.nav-daftarpemyedia a{
   background-image: linear-gradient(to top,rgba(248, 33, 62, 0.938),rgba(211, 81, 6, 0.685));
  text-decoration: none;
  color: white !important;
}
.jarak{
   margin-top: 0;
   display: flex;
   justify-content: space-between;
   background-color: #dddddd;
   font-size: 10px;
   height: 40px;
   align-items: center;
   
}
.anotif1{
   display: flex;
   margin-right: 10px;
   border: 5px;
   border-color: black;
}
.anotif2{
   position: relative;
   margin-right: 10px;
   border: 5px;
   border-color: black;
   z-index: 9999;
}
.anotif1 a{
  text-decoration: none;
}
.jarak2{
   display: flex;
   justify-content: space-between;
   margin-left: 10px;
   background-color: #dddddd;
   font-size: 10px;
   height: 20px;
   align-items: center;
}
.notif-info{
   color: white;
   border-radius: 10px;
   position: relative;
}
.dropdown-toggle{
   background-image: linear-gradient(to top,rgba(33, 126, 248, 0.938),rgba(6, 170, 211, 0.685)) !important;
   color: white !important;
}
.card-kintek-primary{
   margin-top:-10px;
   margin-bottom:20px;
   width: 100%;
   background-image: linear-gradient(to top,rgb(35, 32, 223),rgba(11, 76, 255, 0.63)) !important;
   padding-left: 10px;
   border-radius: 10px;

}
.card-kintek-primary h5{
 color: white;
}
section.card-besar{
   background-color:white;
   box-shadow: 1px 4px 10px 2px  black;
   padding: 50px;
}
li a{
   color: #15159b;
}
ul li.active a{
   background-color: default;
   background: default !important;
   color: black !important;
   text-decoration: none;
}
.navbar-custom{
   background-image: linear-gradient(to top,rgb(236, 134, 0),rgba(250, 226, 9, 0.938)) !important;
   border-top-width: 5px;
   border-top: -10px;
   margin:0;
}

/* responsive mobile css */
.navbar-toggle{
  height: 40px;
   justify-content: center;
   color: black;
   background-image: linear-gradient(to top,rgb(11, 113, 131),rgb(255, 251, 11)) !important;
   border-color: black;
   border: 1;
   border-style: double;
   position: relative !important;
   z-index: 999 !important;
}

/* ppk dashboard css */
/* btn btn group */
/* content ppk*/
.btn-group{
   display: flex !important;
   flex-wrap: wrap !important;
   font-weight: 1;
}
.btn-kintek-success{
   padding-top: 5px;
   background-image: linear-gradient(to top,rgb(32, 136, 79),rgb(92, 206, 143)) !important;
   border: none;
   width: 100px;
   height: 40px;
   border-radius: 5px;
   align-items: center;
   color: white;
   font-weight: bold;
}
.btn-kintek-success a{
  text-decoration: none;
  color: white;
}
.badge-kintek-primary{
   width: 70px;
   height: 20px;
   box-sizing: border-box;
   border: #dabc38;
   border-width: 2px;
   border-radius: 4px;
   background-color: #3188eb;
   text-align: center;
   color: white;
   margin-left: 3px;
}
.badge-kintek-danger{
   width: 70px;
   height: 20px;
   box-sizing: border-box;
   border: #dabc38;
   border-width: 2px;
   border-radius: 4px;
   background-color: #eb3e31;
   text-align: center;
   color: white;
   margin-left: 3px;
}

/* badge Kintek */
.kintek-badge-default{
   padding: 3px;
   width: 70px;
   height: 30px;
   border-width: 4px;
   border: black;
   border-color: black;
   background-color: gray;
   border-radius: 10px;
   color: white;
   text-align: center;
}


  .faq-cat-tabs li a {
         background-color: #ffffffc2 !important;
         border: 1px solid #dddddd !important;
      }
    
      table {
         border-collapse: collapse ;
         width: 100% ;
       }
       .table-kintek th{
          text-align: left;
       }
       
       th, td {
         text-align: center ;
         padding: 8px ;
       }
       
       tr:nth-child(even) {background-color: #f2f2f2 ;
      }


      .bs-callout-warning {

         background-image: linear-gradient(to top,rgb(247, 222, 235),rgb(255, 251, 11)) !important;
         border-color: #dabc38;
     }
     .bs-callout {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 10px 20px 10px 10px;
      border-left: 5px solid rgb(153, 58, 21);
  }

/* footer */
  .list-inline {
   padding-left: 0;
   list-style: none;
   margin-left: -3px;
}
.list-inline a{
color: white;
}
ul, ol {
   margin-top: 0;
   margin-bottom: 10px;
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
ul {
   display: block;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 30px;
}
  #footer {
   background: #080822;
   border-top: 5px solid gold;
   color: white;
   margin-top: 30px;
   padding: 4px 0;
   flex-wrap: wrap;
}
#footerInfo {
   border-top: 1px solid white;
   font-size: 14px;
   overflow: hidden;
   padding: 2px 0;
}
#infoRight {
   float: right;
   text-align: right;
}

/* table daftar paket */
.table-kintek{
   border-top: 1px solid #ddd;
   width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table-kintek td{
   display: flex;
   justify-content: space-between;
}
.form-control option{
   display: block;
   width: 100%;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}